body {
  /* Đặt ảnh nền */
  background-image: url("./img/anh_nen.jpg");
  background-size: cover; /* Để ảnh nền bao phủ toàn bộ */
  background-position: center; /* Canh giữa ảnh nền */

  /* Đảm bảo toàn bộ trang hiển thị ảnh nền */
  height: 100vh;
  margin: 0;
}

.tieu-de {
  display: flex; /* Sử dụng flexbox để dễ dàng căn chỉnh các phần tử */
  justify-content: space-between; /* Phân bổ không gian giữa logo và tiêu đề */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 10vh; /* Chiều cao của header */
  padding: 0 2%; /* Thêm padding trái và phải theo tỷ lệ phần trăm */
  border: #ffffff solid 0.2em;
}

.tieu-de img {
  height: 5rem; /* Điều chỉnh chiều cao của logo bằng rem */
  margin-right: 1em; /* Khoảng cách giữa các logo */
}

.tieu-de h1 {
  margin: 0; /* Loại bỏ margin mặc định */
  font-size: 2em; /* Kích thước chữ cho tiêu đề */
  color: rgb(8, 24, 243); /* Màu chữ */
  text-align: center; /* Căn phải cho các tiêu đề */
}

.ten-web {
  background: linear-gradient(
    90deg,
    #ff6a00,
    #ff8e00,
    #ffd500
  ); /* Từ đỏ qua cam đến vàng */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: transparent; /* Làm cho màu chữ trở nên trong suốt */
  font-size: 1.7em; /* Kích thước chữ */
  font-weight: bold; /* Đậm chữ */
  text-align: center;
}

.text1 {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.all-table {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  border-bottom: 2px solid rgb(222, 235, 230);
  padding: 1.3rem 0; /* Padding thay bằng rem */
}

.all-table .table {
  padding: 2vh 4vw; /* Tăng cường sự linh hoạt bằng đơn vị vh, vw */
  border: 2px solid black;
  margin: 0 1em;
  cursor: pointer;
  font-size: 1.5em;
  background: wheat;
}

.clicked {
  background-color: yellow;
}

.table:hover {
  background-color: greenyellow;
}

.table {
  padding: 0 2rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem; /* Border radius bằng rem */
  transform: all 0.3s ease;
}

/* menu */
.product {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 70%; /* Chuyển từ pixel sang phần trăm */
  margin: auto;
}

.container h2:first-child {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid rgb(222, 235, 230);
  padding: 1.3rem 0;
  font-size: 2em;
}

.product-items {
  display: flex;
  justify-content: space-between;
  background-color: wheat;
  padding: 1.3rem;
}

.do_an {
  width: 100%;
  margin-bottom: 2rem;
}

.product-item {
  width: 16%;
  background-color: white;
  padding: 1.2rem;
  text-align: center;
}

.product-item-text {
  display: flex;
  justify-content: space-between;
}

.product-item button {
  margin-top: 1.3rem;
  height: 3rem;
  padding: 0 1.3rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  transform: all 0.3s ease;
}

.product-item button:hover {
  background-color: greenyellow;
}

.product-item-text p {
  font-size: 1.8rem;
}

/* giỏ hàng */
.cart tbody tr td:first-child {
  display: flex;
  align-items: center;
}

.cart tbody tr img {
  width: 7rem;
}

.cart tbody tr td input {
  width: 3rem;
  outline: none;
}

.cart tbody tr td:last-child {
  cursor: pointer;
  text-align: right;
}

.cart {
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 3rem;
}

.cart h2 {
  margin-top: 2rem;
  font-size: 2em;
}

.cart table {
  width: 100%;
}

.cart table thead tr th:first-child {
  text-align: left;
}

.cart table tr td {
  border-bottom: 2px solid rgb(222, 235, 230);
  padding: 1.3rem 0;
}

.price-total {
  text-align: right;
}

.price-total p:first-child {
  font-weight: bold;
}

.cart table thead tr th:last-child {
  text-align: right;
}

.cart tbody .title1 {
  margin-left: 5rem;
  font-weight: bold;
}

/* ______________________________________- */
.cart {
  position: fixed;
  height: 100vh;
  width: 50%;
  right: 0;
  top: 0;
  background-color: rgb(232, 245, 234);
  padding: 1.2rem 2rem;
  overflow: scroll;
  right: -100%;
  transform: all 0.3s ease;
}

.cart button {
  margin-top: 1.3rem;
  height: 3rem;
  padding: 0 3rem;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  transform: all 0.5s ease;
  background-color: #d866ac;
  font-weight: bold;
}

.cart button:hover {
  background-color: greenyellow;
  transform: scale(1.2); /* Phóng to button lên 1.2 lần khi hover */
}

.cart-icon {
  cursor: pointer;
  margin-left: 3rem;
  margin-bottom: -5.5rem;
  font-size: 1.5em;
}

.cart-icon span {
  margin-left: 0.7rem;
}

.cart i {
  cursor: pointer;
  display: flex;
  right: 0;
  width: 1.2rem;
}

.cart i:hover {
  background-color: rgb(255, 4, 4);
  transform: scale(1.2); /* Phóng to button lên 1.2 lần khi hover */
}
